extends layout

block content
	div
		form(method="post" action="/posttweet")
			h2 Post a tweet
			div
				label Whacha thinkin' 'bout?
					input(type="text" name="tweet" placeholder="What are your thoughts?")
			div
				input(type="submit" value="say it!")
	div
		h2 Here are all the tweets!
		p Order Username By: 
		a(href="/orderByUserDesc") Desc(Descending)
		br
		a(href="/orderByUserAsc") Name(Ascending)
		br
		a(href='/orderByDateDesc') Date(Descending)
		br
		a(href='/orderByDateAsc') Date(Ascending)
		br
		ul
			p -------------------------------------------------
			each val in data
				br
				p= 'Username: ' + val.username
				p= 'Tweet: ' + val.body
				p= 'Date: ' + val.posted_at
				a(href="/follow/" + val.user_id)= 'Follow ' + val.username
				br
				p -------------------------------------------------